#navigation{ background-image: url(beach.png);
}

#blog { background-color: yellow;
}

#github{ background-color: pink;
}

#book{ background-color: green;
}

#publication{ background-color: blue;
}

#contact{ background-color: black;
}