@charset "utf-8";
/* CSS Document */
h2, h3 {
	font-family: sans-serif;
	font-weight: bold; color: Navy;
	background-color: #CCC;
	border-right-width: thin;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #333;
	border-right-style: solid;
}
p {
	font-family:Times;
	font-weight: bold; color: black;
	line-lheight: 18px;
	padding-left: 12px;
	margin-top: -3px;
}
a{
	color: #CC0000;
	text-description: none;
}
a:link{
	color: #000000;
	text-description: none;
}
a:visited{
		color:#009900;
		text-description:none;
}
a:hover{
	color: #000000;
	background-color: #CCC;
	text-decoration: underline;
}
a:active{
		color: #990000;
		text-decoration: underline;
}
body {
	font-family: Verdana, Geneva, sans-serif;
}
header {
	height: 100px;
	background-color: gray;
	padding: 5px;
}
article {
	padding-left: 15px;
	background-color:white;
	border-top: 1px black;
}
section {
	padding-left: 25px;
	background-color: white;
}
footer {
	height: 100px;
	background-color:gray;
	padding: 5px;
}
aside{
	height: 100px;
	
	width: 320px;
	
	padding-right: 24px;
	padding-left:6px;
	padding-top: 6px;
	
	margin-right: auto;
	margin-left: auto;
	
	border-top-width: thin;
	border-right-width: medium;
	border-bottom-width: thick;
	border-left-width: thin;
	
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	
	border-top-color: silver;
	border-right-color: black;
	border-bottom-color: black;
	border-left-color: silver;

}

