@charset "utf-8";
/* CSS Document */
h2, h3 {
	font-family: sans-serif;
	font-weight: bold; color: Navy;
	background-color: #CCC;
	border-right-width: thin;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #333;
	border-right-style: solid;
}
p {
	font-family:Times;
	font-weight: bold; color: black;
	line-lheight: 18px;
	padding-left: 12px;
	margin-top: -3px;
}
a{
	color: #CC0000;
	text-description: none;
}
a:link{
	color: #000000;
	text-description: none;
}
a:visited{
		color:#009900;
		text-description:none;
}
a:hover{
	color: #000000;
	background-color: #CCC;
	text-decoration: underline;
}
a:active{
		color: #990000;
		text-decoration: underline;
}

