<div style="frontpage">
	<div class="container">
  <div class="row">
    <div class="<div class="col-md-6 col-md-offset-6">
">
    <h1> Saul Joseph Wiggin </h1>
	<h1> Student, Electronic Engineering PhD </h1>
	<h1> Tel: 07804672808 </h>
	<h1> Email: saulwiggin@googlemail.com </h1>
</div>
<div class="center">
	<img src="http://placekitten.com/g/200/200" />
</div>
	<a href="http://twitter.com/saul_wiggin"> Follow me on Twitter!!! </a>
</div>
</div>
</div>
