.frontpage img {
	width: 100px;
	height: 100px;
	text-align:center;
	text-transform: uppercase;
	font-size: 16px;
	font-weight:bold;
	line-height: 20px;
	border-top: 4px solid red 
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
p { 
font-size: 12px}

#h1 {
	text-transform: uppercase
}
html{
#  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0bebff), to(#ff0bf6)) 
#    no-repeat center center fixed !important;
#}
html{
  background: url('http://farm2.staticflickr.com/1100/1471214453_f7677b7816_b.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
a{ font-size: 16px}

.frontpage img{
	border-radius: 50px;
}

.center img {
	text-align: center
}
body {
  background: none;
  text-align: center
}